
#top {
    position: relative;
    background-color: #2c2c49;
    color: white;
    padding-top: 2px;
    margin: 0px 0px 0px 0px;
    height:60px;
    border-bottom: 1px solid grey;

}

#bottom {
    z-index: -10;
    padding: 5px;
    margin: 0px 0px 0px 0px;

    background-color: #2c2c49;
    border-top: 1px solid grey;
    margin-top: 100px;
    width:100%;
    opacity: 0.9;
    
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.grid_three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 5px;
}

.grid_four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 5px;
}

.grid_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    padding: 5px;
}
.center_content {
    position: relative;
    padding: 0px;
    color: black;
    margin: 0px 0px 0px 0px;
    
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.ui-datatable-even  {
    background-color: #5f5f5f !important;
    color: white;
}
.ui-datatable-odd {
    background-color: #525252 !important;
    color: white;
}
.ui-datatable-data td {
    font-size: 12px; /* Example: Set font size to 12 pixels */
}

.ui-editable-column {
    color: white;
}


.ui-cell-editor-output {
    font-family: Roboto Regular;
    font-size: 12px;
}

.ui-cell-editor-input {
    font-family: Roboto Regular;
    font-size: 12px;
}

.ui-cell-editor {
    font-family: Roboto Regular;
    font-size: 12px;
}

.ui-selectonemenu .ui-selectonemenu-label {
    font-size: 12px;
}

.ui-selectonemenu .ui-selectonemenu-item.ui-state-hover {
    background-color: red;
}
.ui-selectonemenu-items-wrapper .ui-selectonemenu-item {
    font-size: 12px; /* Adjust the desired font size */
}


.ui-selectonemenu{
     width: 100% !important;
     
}
.ui-selectonemenu-label{
     width: 100% !important;
     
}  

.ui-panel .ui-panel-title {
    font-size: 12px; /* Adjust the value as needed */
}


th {
    font-size: 12px; /* Adjust the desired font size */
    padding: 0px;
    margin: 0px;
}

.formfield {
    width:100%; font-size: 12px !important; padding: 2px !important; margin: 0px !important;
    border-radius: 2px  !important;
}

/*
.minitable thead th { 
    border: none !important; 
    background: none !important; 
}
*/

.minitable thead {
    display: none;
}